<header class="site-header">
    <div class="header-container">
        <a href="{{ .Site.Home.RelPermalink }}" class="site-title-link">
            <h1 class="hover-pointer site-title">{{ .Site.Title }}</h1>
        </a>
        <div class="mascot-container">
            <img src="{{ "images/mascots/tomato.png" | relURL }}" alt="" class="mascot mascot-1">
            <img src="{{ "images/mascots/banana.png" | relURL }}" alt="" class="mascot mascot-2">
            <img src="{{ "images/mascots/carrot.png" | relURL }}" alt="" class="mascot mascot-3">
            <img src="{{ "images/mascots/pepper.png" | relURL }}" alt="" class="mascot mascot-4">
            <img src="{{ "images/mascots/broccoli.png" | relURL }}" alt="" class="mascot mascot-5">
            <img src="{{ "images/mascots/grapes.png" | relURL }}" alt="" class="mascot mascot-6">
            <img src="{{ "images/mascots/apple.png" | relURL }}" alt="" class="mascot mascot-7">
            <img src="{{ "images/mascots/mushroom.png" | relURL }}" alt="" class="mascot mascot-8">
            <img src="{{ "images/mascots/eggplant.png" | relURL }}" alt="" class="mascot mascot-9">
            <img src="{{ "images/mascots/cucumber.png" | relURL }}" alt="" class="mascot mascot-10">
            <img src="{{ "images/mascots/strawberry.png" | relURL }}" alt="" class="mascot mascot-11">
            <img src="{{ "images/mascots/orange.png" | relURL }}" alt="" class="mascot mascot-12">
            <img src="{{ "images/mascots/corn.png" | relURL }}" alt="" class="mascot mascot-13">
            <img src="{{ "images/mascots/lemon.png" | relURL }}" alt="" class="mascot mascot-14">
            <img src="{{ "images/mascots/avocado.png" | relURL }}" alt="" class="mascot mascot-15">
            <img src="{{ "images/mascots/peach.png" | relURL }}" alt="" class="mascot mascot-16">
        </div>
        <nav class="language-switcher">
            {{ if .IsTranslated }}
                {{ range .Translations }}
                    <a href="{{ .Permalink }}" lang="{{ .Language.Lang }}" class="language-link" data-lang="{{ .Language.Lang }}">
                        {{ if eq .Language.Lang "es" }}🇪🇸{{ else if eq .Language.Lang "en" }}🇺🇸{{ end }} {{ .Language.LanguageName }}
                    </a>
                {{ end }}
            {{ end }}
        </nav>
    </div>
</header>
